# Edit this configuration file to define what should be installed on
# your system.  Help is available in the configuration.nix(5) man page
# and in the NixOS manual (accessible by running ‘nixos-help’).
    vmware-iso:
{ config, pkgs, ... }:
    vmware-iso:
{
imports =
[ # Include the results of the hardware scan.
./hardware-configuration.nix
];
    vmware-iso:
# Use the GRUB 2 boot loader.
boot.loader.grub.enable = true;
boot.loader.grub.version = 2;
# Define on which hard drive you want to install Grub.
# boot.loader.grub.device = "/dev/sda";
    vmware-iso:
# networking.hostName = "nixos"; # Define your hostname.
# networking.wireless.enable = true;  # Enables wireless.
    vmware-iso:
# Select internationalisation properties.
# i18n = {
#   consoleFont = "lat9w-16";
#   consoleKeyMap = "us";
#   defaultLocale = "en_US.UTF-8";
# };
    vmware-iso:
# List services that you want to enable:
    vmware-iso:
# Enable the OpenSSH daemon.
# services.openssh.enable = true;
    vmware-iso:
# Enable CUPS to print documents.
# services.printing.enable = true;
    vmware-iso:
# Enable the X11 windowing system.
# services.xserver.enable = true;
# services.xserver.layout = "us";
# services.xserver.xkbOptions = "eurosign:e";
    vmware-iso:
# Enable the KDE Desktop Environment.
# services.xserver.displayManager.kdm.enable = true;
# services.xserver.desktopManager.kde4.enable = true;
}
